.voting
  - investment = item.investment_of current_user
  = link_to "", buy_item_investments_path(item), :class=> 'vote up', :title=> "Rate up", :'data-method'=> :post, :'data-type'=> 'html', :remote=> true, :rel => "nofollow"
  .rating.item-worth
    = item.worth.round(1)
  - if investment
    .rating.user-rating
      (#{investment.value.round(1)})
  = link_to "", sell_item_investments_path(item), :class=> 'vote down', :title=> "Rate down", :'data-method'=> :post, :'data-type'=> 'html', :remote=> true, :rel => "nofollow"