%aside.investment
	- user_rating = user_rating(item)
	= button_to "Sell", sell_item_investments_path(item), :remote=> true, |
			:form => {:class=> 'vote down', :"data-type"=> 'json'}

	%span.user-rating= user_rating

	= button_to "Buy", buy_item_investments_path(item), :remote=> true, |
		:form => {:class=> 'vote up', :'data-type'=> 'json'}
