.hero-unit
	%h1 
		Zutha
		%small ALPHA
	%p The Stock Market for Online Reputation

.row
	.span8.offset2.intro
		%p
			Zutha is an open source project to build a better model for measuring the reputation of people and things. It improves upon the "upvote" and "5-star" rating models in the following ways:
			%ul
				%li Gaming resistance
				%li Discovery of under-recognized value
				%li Allocation of influence
				%li Rewards for participation
				%li Information granularity

		%p 
			Disadvantages compared to conventional rating systems:
			%ul
				%li Complexity

