<div id="widget" class="widget">
  <div id="view">
    <div>
      <div style="display: block;">
        <h1>Sign in using your account with</h1>

        <div id="pages" style="top: 31px;">
          <div class="page">
            <ul class="providers">
              <li id="google" class="on"></li>

              <li id="twitter" class="on"></li>

              <li id="yahoo" class="on"></li>
            </ul>

            <ul class="providers col2">
              <li id="facebook" class="on"></li>

              <li id="paypal" class="on"></li>

              <li id="openid" class="on"></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="prov_box" style="display: none;">
        <div class="prov_logo"><img width="264" height="64" src=
        "http://cdn.rpxnow.com/rel/img/a0deecfd4c136d9b6e7c9ed5f969dd1b.png" /></div>

        <div>
          <div class="content">
            <h1 style="">Welcome back, <span class="user">Chris Barnett<a class=
            "not_you" id="wa_not_you" name="wa_not_you"><span>not
            you?</span></a></span></h1>

            <div class="error" style="display: none;"></div>
          </div>
        </div><a class="signin" id="wa_signin" name="wa_signin"><span><img style=
        "display: none; vertical-align: middle; margin-right: 5px;" src=
        "http://cdn.rpxnow.com/rel/img/9a8269421303631316be4ab5e34870e1.gif" />Sign In
        &Acirc;&raquo;</span></a>
      </div>
    </div>
  </div>

  <div id="left" style="top: 36px; display: none;" class=""></div>

  <div id="right" style="top: 36px; display: none;" class="enabled"></div>

  <div id="footer">
    <span class="powered_by" id="powered_by">Powered by <a href=
    "http://www.janrain.com/products/engage/engage-introduction?utm_source=zutha.rpxnow.com&amp;utm_medium=partner&amp;utm_campaign=attribution"
    target="_blank">Janrain</a></span>

    <div id="paging" class="paging" style="display: none;">
      <span>page</span><span id="one" class="active"></span><span id="two"></span>
    </div><img class="loading" id="loading" style="visibility: hidden;" src=
    "http://cdn.rpxnow.com/rel/img/9a8269421303631316be4ab5e34870e1.gif" name=
    "loading" /> <a class="back" id="wa_back" style="display: none;" name=
    "wa_back"><span>use another account</span></a>
  </div>
</div>