- title "Tags"

.row
	.span10.offset1.tags
		%header
			%h1 Tags
			%br
			%ul
				- tags.each do |t|
					%li
						= link_to t.name, items_url(t.tag_type.url_name => t.url_name)
						- if admin?
							%small= link_to "(edit)", edit_tag_url(t)
			- if admin?
				%h2 New Tag
				= render 'form'
