
#panel {
	overflow: auto;
	width: 100%;
	#logo {
		float:left;
	}
	#account {
		margin: auto;
		text-align:center;
	}
	#user_nav {
		float: right;
		font-size: 12px;
		padding-bottom:10px;
	}
}

#flash {
	text-align: center;
	
	.notice {
		color:green;
	}
	.alert {
		color:red;
	}
	.error {
		color:red;
	}
}