/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

#panel {
	overflow: auto;
	width: 100%;
	#logo {
		float:left;
	}
	#account {
		margin: auto;
		text-align:center;
	}
	#user_nav {
		float: right;
		font-size: 12px;
		padding-bottom:10px;
	}
}
#notice {
	text-align: center;
}
#container {
	max-width: 1080px;
	min-width: 100px;
	margin: {
		left: auto;
		right: auto;
	}
	padding: {
		left:2px;
		right:8px;
	}
}

