@import "compass/css3/border-radius";

$default-border-radius: 10px; 

h1 {
	text-align: center;
}

.item {
	border: {
		style: solid;
		width: 1px;
		color: blue;
	}
	padding-bottom: 1em;
	@include border-radius;
	margin-bottom: 3px;
	padding: 4px;
	overflow: auto;
	width: 100%;

	.actions {
		float: left;
		margin: {
			top: 5px;
			left: 8px;
			right: 8px;
		}
		width:5ex;

		.voting {
			.vote input {
				border: 0;
				background: #fff;
				color: #236cb0;
				outline: none;
				cursor: pointer;

				width: 18px;
				height: 15px;
				margin-left: auto;
				margin-right: auto;
				display: block;
			}
			.vote {
				&.up input {
					background-image: url(up-arrow.gif);
				}
				&.down input {
					background-image: url(down-arrow.gif);
				}
			}

			.rating {
				text-align: center;
			}	
		}
		
	}

	header {
		float:right;
	}

	h2 {
		margin: {
			top: 8px;
			bottom: 8px;
		}
	}
}


