
.items {
	header {
		border-bottom: 1px solid $dark_gray;
		padding-bottom:1em;
	}
}
.item {
	padding: 0.5em 0;
	border-bottom: 1px dotted $dark_gray;

	overflow: auto;
	width: 100%;

	p {
		margin: 0;
		padding: 0;
	}
	aside.investment {
		float: left;
		margin: {
			top: 5px;
			left: 8px;
			right: 12px;
		}
		width:5ex;

		.voting {
			.vote input {
				border: 0;
				background: #fff;
				color: #236cb0;
				outline: none;
				cursor: pointer;

				width: 18px;
				height: 15px;
				margin-left: auto;
				margin-right: auto;
				display: block;
			}
			.vote {
				margin:0;
				&.up input {
					background-image: url(up-arrow.gif);
				}
				&.down input {
					background-image: url(down-arrow.gif);
				}
			}

			.rating {
				text-align: center;
			}	
		}
		
	}

	.controls {
		float:right;
	}
}
	
