
.items {
	header {
		border-bottom: 1px solid $dark_gray;
		padding-bottom:1em;
	}
}
.item {
	padding: 0.4em 0;
	border-bottom: 1px dotted $dark_gray;
	overflow: auto;
	width: 100%;

	.edit_link {
		font-weight: normal;
		font-size: 70%;
	}
	.url {
		display: block;
		font-size: 0.8em;
		margin-top: -0.5em;
		margin-bottom: 0.2em;
	}

	p {
		margin: 0;
		padding: 0;
	}

	.stats {
		float: left;

		.item-worth {
			float:none;
			display:inline-block;
			vertical-align: middle;
			line-height: 3em;
			font-weight: bold;
			min-width: 60px;
			text-align: center;
		}
	}

	.investment {
		float: right;
		font-size: 14px;
		margin {
			left: 4px;
			bottom: 4px;
		}
		.invest {
			margin:0;
			display: inline-block;

			input[type='submit'] {
				border: 0;
				margin: 0;
				background: #fff;
				outline: none;
				display: block;
				@include small-button
			}

			&.buy input {
				@include gold-button
			}
			&.sell input {
				@include red-button
			}
			&.set {
				.user-rating {
					margin: 0;
					padding: 0 2px;
					width: 65px;
					text-align: center;
				}
			}
		}
	}
}
