%strong Please select an Account to sign in with

%ul.providers
	%li#google.on
		= link_to "", user_omniauth_authorize_path(:google_oauth2), :title => "sign in with Google"
	%li#facebook.on
		= link_to "", user_omniauth_authorize_path(:facebook), :title => "Sign in with Facebook"
	%li#yahoo.on
		= link_to "", user_omniauth_authorize_path(:open_id, :openid_url => "http://yahoo.com"),:title => "sign in with Yahoo"
